/* =========================
   BASE
========================= */
@import url("./base/reset.css");
@import url("./base/variables.css");
@import url("./base/typography.css");

/* =========================
   LAYOUT
========================= */
@import url("./layout/header.css");
@import url("./layout/footer.css");
@import url("./layout/sections.css");

/* =========================
   COMPONENTS
========================= */
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/forms.css");

