*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}


img {
  max-width: 100%;
  display: block;
}

body { margin: 0; }
*, *::before, *::after { box-sizing: border-box; }